<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=0.1" />
    <link rel="stylesheet" href="./style.css" />
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <title>Chat | ChatMan</title>
  </head>
  <body class="bg-gray-900">
    <header class="text-gray-400 bg-gray-950 body-font">
      <div
        class="container mx-auto flex flex-wrap p-5 items-center justify-between"
      >
        <a
          class="flex title-font font-medium items-center text-white mb-4 md:mb-0"
        >
          <ion-icon
            name="chatbox-ellipses"
            style="font-size: 1.75rem"
          ></ion-icon>
          <span class="ml-3 text-xl" id="chatster">ChatMan</span>
        </a>
        <a
          href="/login/logout"
          class="text-white bg-red-600 border-0 py-2 px-4 rounded focus:outline-none hover:bg-red-400 transition-colors duration-200"
          >Logout</a
        >
      </div>
    </header>
    <!-- MAIN CHAT SECTION -->
    <section class="text-gray-400 bg-gray-900 body-font mx-auto relative">
      <div
        class="px-5 py-24 flex justify-center items-center h-screen flex items-baseline"
      >
        <!-- GROUP SIDE BAR -->
        <div
          class="p-4 h-5/6 w-3/12 overflow-y-auto bg-gray-950 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center hidden"
          id="groups"
        >
          <!-- NEW GROUP BUTTON -->
          <div class="bg-gray-950 rounded flex p-4 items-center mb-3">
            <button
              class="text-white h-full bg-indigo-500 border-0 py-2 px-4 focus:outline-none hover:bg-indigo-600 rounded text-lg w-full text-center"
              onclick="createNewGroup()"
            >
              New Group
            </button>
          </div>
          <!-- Additional div elements can be added here for more groups -->
        </div>
        <!-- MAIN CHAT AREA -->
        <div class="w-9/12 ml-3 h-full">
          <!-- CHAT HEADER AND BUTTONS -->
          <div
            class="h-5/6 bg-gray-800 bg-opacity-40 px-8 pt-16 pb-[115px] rounded-xl overflow-hidden text-center relative"
          >
            <div class="flex items-center justify-between">
              <!-- TOGGLE GROUPS BUTTON -->
              <button
                class="text-white bg-indigo-500 border-0 py-2 px-4 focus:outline-none hover:bg-indigo-600 rounded text-lg"
                id="showGroups"
              >
                Groups
              </button>
              <!-- GROUP NAME -->
              <h1
                class="title-font sm:text-3xl text-xl font-medium text-white mb-3 pb-3"
                id="groupName"
              >
                ChatMan
              </h1>
              <!-- TOGGLE USERS BUTTON -->
              <button
                class="text-white bg-indigo-500 border-0 py-2 px-4 focus:outline-none hover:bg-indigo-600 rounded text-lg"
                id="showUsers"
              >
                Users
              </button>
            </div>

            <!-- CHAT MESSAGE CONTAINER -->
            <div
              class="h-5/6 overflow-y-auto mt-3 mb-2 bg-gray-600 rounded"
              id="chatBox"
            ></div>

            <!-- MESSAGE INPUT AND SEND BUTTON -->
            <div class="flex my-2 relative z-10" id="ipHandler">
              <!-- IMAGE UPLOAD BUTTON -->
              <label
                for="fileInput"
                class="bg-indigo-500 text-white text-2xl rounded-l-md px-4 py-2 mr-2 focus:outline-none hover:bg-indigo-600"
              >
                <ion-icon name="image-sharp" class="align-middle"></ion-icon>
                <input
                  type="file"
                  id="fileInput"
                  accept="image/jpg, image/png,
                image/jpeg"
                  style="display: none"
                  onchange="handleFileInputChange(event)"
                />
              </label>
              <div
                id="selectedFileContainer"
                class="flex items-center space-x-2 mx-1 hidden"
              >
                <span id="selectedFileName" class="text-gray-700"></span>
                <span
                  id="discardImage"
                  class="text-gray-700 cursor-pointer"
                  onclick="discardSelectedImage()"
                >
                  &#10005;
                </span>
              </div>
              <!-- MESSAGE INPUT FIELD -->
              <input
                type="text"
                class="bg-white py-2 px-4 w-full focus:outline-none text-lg"
                placeholder="Type your message..."
                id="message"
              />
              <!-- SEND BUTTON -->
              <button
                class="bg-indigo-500 text-white rounded-r-md px-4 py-2 ml-2 focus:outline-none hover:bg-indigo-600"
                id="send"
                onclick="sendMessage()"
              >
                Send
              </button>
            </div>
          </div>
        </div>

        <div class="fixed -z-10 inset-0 overflow-y-auto" id="modal">
          <div
            class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
          >
            <!-- Background overlay -->
            <div class="fixed inset-0 transition-opacity" aria-hidden="true">
              <div
                class="absolute inset-0 bg-gray-900 opacity-75"
                id="overlay"
              ></div>
            </div>

            <!-- Modal content CREATING THE GROUP -->
            <div
              class="inline-block align-bottom bg-gray-800 rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
            >
              <div class="bg-gray-900 px-4 py-6 sm:px-6">
                <h3 class="text-lg leading-6 font-medium text-white">
                  Create New Group
                </h3>
                <p class="mt-1 text-sm text-gray-400">
                  Add users to the group and specify admin privileges.
                </p>
              </div>
              <div class="bg-gray-800 px-4 py-6 sm:px-6">
                <div class="mb-4">
                  <label
                    for="group-name"
                    class="block text-sm font-medium text-gray-400"
                    >Group Name</label
                  >
                  <input
                    type="text"
                    id="group-name"
                    name="group-name"
                    required
                    class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm bg-gray-600 bg-opacity-20 text-gray-100 rounded-md border-gray-600 focus:outline-none py-2 px-3"
                    maxlength="30"
                    minlength="1"
                  />
                </div>
                <p class="block text-sm font-medium text-gray-400 mb-2">
                  Users
                </p>
                <div class="max-h-80 overflow-y-auto mb-4">
                  <div class="space-y-2" id="usersList">
                    <!-- Sample user item -->
                    <div
                      class="flex items-center justify-between py-2 px-3 bg-gray-700 rounded-md"
                    >
                      <div class="flex-grow">
                        <p class="text-sm font-medium text-white">John Doe</p>
                        <p class="text-xs text-gray-500">
                          john.doe@example.com
                        </p>
                      </div>
                      <div class="flex items-center space-x-2">
                        <label for="user1-add" class="flex items-center">
                          <input
                            type="checkbox"
                            id="user1-add"
                            name="user1-add"
                            class="form-checkbox"
                            value="1"
                            onchange="let admin = this.parentElement.nextElementSibling.firstElementChild; admin.disabled = !admin.disabled;"
                          />
                          <span class="ml-2 text-sm text-gray-400">Add</span>
                        </label>
                        <label for="user1-admin" class="flex items-center">
                          <input
                            type="checkbox"
                            id="user1-admin"
                            name="user1-admin"
                            class="form-checkbox"
                            disabled
                          />
                          <span class="ml-2 text-sm text-gray-400">Admin</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex justify-end">
                  <button
                    type="button"
                    class="text-white bg-blue-500 border-0 py-2 px-4 focus:outline-none hover:bg-blue-600 rounded text-lg"
                    id="createGroup"
                  >
                    Create Group
                  </button>
                </div>
              </div>
              <div
                class="bg-gray-800 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse"
              >
                <button
                  type="button"
                  class="inline-flex justify-center w-full rounded-md border border-transparent shadow-sm px-4 py-2 bg-gray-700 text-base font-medium text-white hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm"
                  id="closeForm"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="fixed -z-10 inset-0 overflow-y-auto" id="adminModal">
          <div
            class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
          >
            <!-- Background overlay -->
            <div class="fixed inset-0 transition-opacity" aria-hidden="true">
              <div
                class="absolute inset-0 bg-gray-900 opacity-75"
                id="adminOverlay"
              ></div>
            </div>

            <!-- Modal content -->
            <div
              class="inline-block align-bottom bg-gray-800 rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
            >
              <div class="bg-gray-900 px-4 py-6 sm:px-6">
                <h3 class="text-lg leading-6 font-medium text-white">
                  Edit Group
                </h3>
                <p class="mt-1 text-sm text-gray-400">
                  Modify the group name, participants and their admin
                  privileges.
                </p>
              </div>
              <div class="bg-gray-800 px-4 py-6 sm:px-6">
                <div class="mb-4">
                  <label
                    for="group-name-admin"
                    class="block text-sm font-medium text-gray-400"
                    >Group Name</label
                  >
                  <input
                    type="text"
                    id="group-name-admin"
                    name="group-name-admin"
                    required
                    class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm bg-gray-600 bg-opacity-20 text-gray-100 rounded-md border-gray-600 focus:outline-none py-2 px-3"
                    maxlength="30"
                    minlength="1"
                  />
                </div>
                <p class="block text-sm font-medium text-gray-400 mb-2">
                  Users
                </p>
                <div class="max-h-80 overflow-y-auto mb-4">
                  <div class="space-y-2" id="usersListAdmin">
                    <!-- Sample user item -->
                    <div
                      class="flex items-center justify-between py-2 px-3 bg-gray-700 rounded-md"
                    >
                      <div class="flex-grow">
                        <p class="text-sm font-medium text-white">John Doe</p>
                        <p class="text-xs text-gray-500">
                          john.doe@example.com
                        </p>
                      </div>
                      <div class="flex items-center space-x-2">
                        <label for="user1-add" class="flex items-center">
                          <input
                            type="checkbox"
                            id="user1-add"
                            name="user1-add"
                            class="form-checkbox"
                            value="1"
                            onchange="let admin = this.parentElement.nextElementSibling.firstElementChild; admin.disabled = !admin.disabled;"
                          />
                          <span class="ml-2 text-sm text-gray-400">Add</span>
                        </label>
                        <label for="user1-admin" class="flex items-center">
                          <input
                            type="checkbox"
                            id="user1-admin"
                            name="user1-admin"
                            class="form-checkbox"
                            disabled
                          />
                          <span class="ml-2 text-sm text-gray-400">Admin</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex justify-end">
                  <button
                    type="button"
                    class="text-white bg-blue-500 border-0 py-2 px-4 focus:outline-none hover:bg-blue-600 rounded text-lg"
                    id="updateGroup"
                  >
                    Update
                  </button>
                </div>
              </div>
              <div
                class="bg-gray-800 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse"
              >
                <button
                  type="button"
                  class="inline-flex justify-center w-full rounded-md border border-transparent shadow-sm px-4 py-2 bg-gray-700 text-base font-medium text-white hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm"
                  id="closeAdminForm"
                  onclick="clearUpdateGroupForm()"
                >
                  Close
                </button>

                <button
                  type="button"
                  class="inline-flex justify-center w-full rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-700 text-base font-medium text-white hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm"
                  id="deleteGroup"
                  onclick="deleteGroup()"
                >
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>

        <div
          class="p-4 w-3/12 overflow-y-auto bg-gray-950 px-8 pt-16 pb-24 ml-3 h-5/6 rounded-lg overflow-hidden text-center hidden"
          id="users"
        >
          <div class="bg-gray-950 rounded flex p-4 items-center mb-3">
            <span class="title-font font-medium text-white w-full text-center">
              Users
            </span>
          </div>
        </div>
      </div>
    </section>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
      integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="chat.js"></script>
  </body>
</html>
